.category-main-container {
  // background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background: linear-gradient(to right, #e0eafc, #cfdef3);

  .title-category {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .search-category {
    overflow: visible;
  }

  .add-category-btn {
    border-radius: 6px;
    margin-left: 10%;
    margin-bottom: 12px;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);

    &:hover {
      background: linear-gradient(135deg, #b224ef 0%, #7579ff 100%);
    }
  }

  .table-category {
    #main-category {
      background-color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;

      tr {
        // &:nth-child(even) {
        //   background-color: #f2f2f2;
        // }

        &:hover {
          background-color: #ddd;
        }

        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          // background-color: #0d6efd;
          background-color: #ddd;
          // background: linear-gradient(to right, #6dd5fa, #ffffff);
          color: #000;
          border: 1px solid #fff;
          font-size: 16px;
          font-weight: bold;
        }

        td {
          border: 0.5px solid #ddd;
          padding: 8px;
          color: #000;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          opacity: 0.9;

          .avatar-image {
            width: 50px;
            height: 50px;
            border-radius: 20%;
          }

          .btn-edit {
            color: #b1ff00;
            font-size: 20px;
            background-color: transparent;
            width: 15%;

            &:hover {
              color: #000;
            }
          }

          .btn-delete {
            color: #ff0000;
            font-size: 20px;
            background-color: transparent;
            width: 15%;

            &:hover {
              color: #ccc;
            }
          }
        }
      }
    }
  }
}
