.list-user-container {
    .list-user-content {
        .child {
            height: 40px;
            width: 300px;
            margin: 0px auto;
            border: 1px solid blue;
        }
    }
}